Problem statement: -
Dataset: -

In [1]:
#import the necessary libraries 
#import pandas 

import pandas as pd

In [2]:
#Read dataset

data=pd.read_csv("IrisClassification.csv")

In [3]:
#display first five records 
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Class Label
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# find out last record number 

data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Class Label
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
#find out no. of rows and colmuns 
data.shape

(150, 6)

In [6]:
#check for null record or values 
data.isnull()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Class Label
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
145,False,False,False,False,False,False
146,False,False,False,False,False,False
147,False,False,False,False,False,False
148,False,False,False,False,False,False
149,False,False,False,False,False,False

In [7]:
#count the null values 
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Class Label      0
dtype: int64

In [8]:
#split our data into indepenadent and dependant variable
X=data.drop('Class Label',axis=1)
y=data['Class Label']

In [9]:
#split the data for training and testing 20%

#train test split
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=20)

In [10]:
# Selection and train our model
from sklearn.tree import DecisionTreeClassifier

In [11]:
mymodel=DecisionTreeClassifier()

In [12]:
mymodel

DecisionTreeClassifier()

In [13]:
# training of our model
result=mymodel.fit(X_train,y_train)

In [14]:
#Test model 
pred=result.predict(X_test)

In [15]:
pred

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa'], dtype=object)

In [16]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Class Label, Length: 150, dtype: object

In [17]:
# Evaluate model performance 
from sklearn.metrics import accuracy_score,classification_report

In [18]:
# print accourcay of model
print('Validation accuaracy score is',accuracy_score(y_test,pred))

Validation accuaracy score is 0.98

In [19]:
#print classification report
print(classification_report(y_test,pred))

                 precision    recall  f1-score   support

    Iris-setosa       0.94      1.00      0.97        17
Iris-versicolor       1.00      0.94      0.97        18
 Iris-virginica       1.00      1.00      1.00        15

       accuracy                           0.98        50
      macro avg       0.98      0.98      0.98        50
   weighted avg       0.98      0.98      0.98        50

In [20]:
#print confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[17,  0,  0],
       [ 1, 17,  0],
       [ 0,  0, 15]])

In [ ]:
#Random forest 
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
#X_train=sc.fit_transform(X_train)
#X_test=sc.transform(X_test)

from sklearn.ensemble import RandomForestClassifier
mymodel2=RandomForestClassifier(n_estimators=100,criterion='entropy',random_state=88)
result2=mymodel2.fit(X_train,y_train)
pred=result2.predict(X_test)
accuracy_score(pred,y_test)

0.98